body {
    margin: 0;
<<<<<<< HEAD
    background-color: background-color: rgb(250, 238, 210);;
=======
    background-color: white;
>>>>>>> 4f48709129409c3cd4df90c60c7ca6e7ce5ed8b4
    text-align: center;
}
