/*header style*/
header {
    text-align: center; 
    padding: 20px;
 }
 /*navigation menu style*/
 nav {
    text-align: center;
    word-spacing: 30px;
    Padding: 10px;
 }
 /*creating the two-column layout*/
 *{
    box-sizing: border-box;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }
 /* Create two equal columns that sits next to each other */
 .Ingredients-Nutrients {
    flex: 50%;
    padding: 50px;
    text-align: center;
 }
 .Method {
    flex: 50%;
    padding: 200px;
    text-align: center;
 }
