/*header style*/
header {
    text-align: center; 
    padding: 20px;
 }
 /*navigation menu style*/
 nav {
    text-align: center;
    word-spacing: 30px;
    Padding: 10px;
 }
 /*creating the three-column layout*/
 *{
    box-sizing: border-box;
 }

 /* Create three unequal columns that floats next to each other */
 .column {
    float: left;
    text-align: center;
 }
 .left, .right {
    width: 25%;
    text-align: center;
 }
 .middle {
   width: 50%;
   text-align: center;
 }

 /* Clear floats after the columns */
.row:after {
   content: "";
   display: table;
   clear: both;
}
